{% extends "layout.html" %}


{% block title %}
Sage Notebook
{% endblock %}


{% block content %}

{% for cell in cells %}
  <div>{{ cell }}</div>
{% endfor %}

<h1>Input:</h1>                                                               
<form method='POST' action='#'>                                              
  <textarea name='input' id="input"></textarea>                              
  <div><input type='submit'></div>                                         
</form>                                                                      
<h1>Output:</h1>                                                            
<div id="output"></div>         

{% endblock %}
